<div id="openid_btns">
  <div id="carousel">
    <div id="buttons">
      <a href="#" id="prev">prev</a>
      <a href="#" id="next">next</a>
    </div>
    Choose your account provider
    <div class="clear"></div>
    <div id="slides">
      <ul class="list">
        <% count = 0 %>
        <% Multiauth::PROVIDERS.each_slice(6) do |providers| %>
          <li class="page">
            <% providers.each_slice(3) do |column| %>
              <div class="column">
                <% column.each do |provider| %>
                  <a id="btn_<%= count+=1 %>" class="<%= provider[:name] %> openid_btn" title="<%= provider[:name] %>" href="<%= provider[:url] %>" data-real="<%= provider[:real] || false %>"></a>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div id="openid_inputarea">
  <span class="oidlabel">username</span>
  <%= text_field_tag "user_name", "", :id => "openid_username" %>
  <%= submit_tag "Sign In", :id => "openid_inputarea_submit" %>
  <a href="#" id="close_openid_inputarea">cancel</a>
</div>
